<!DOCTYPE html>

<HTML lang="en">
    <HEAD>
        <TITLE>AirBnB</TITLE>
    </HEAD>
    <BODY>
		<H1>Navigation</H1>
		<UL>
			<LI><A href="/0-hbnb" target="_blank">Atlas AirBnb Homepage 0</A></LI>
			<LI><A href="/1-hbnb" target="_blank">Atlas AirBnb Homepage 1</A></LI>
			<LI><A href="/2-hbnb" target="_blank">Atlas AirBnb Homepage 2</A></LI>
			<LI><A href="/3-hbnb" target="_blank">Atlas AirBnb Homepage 3</A></LI>
			<LI><A href="/4-hbnb" target="_blank">Atlas AirBnb Homepage 4</A></LI>
		</UL>
    </BODY>
</HTML>
