@import "3-header.css";
@import "3-footer.css";

body {
	margin: 0;
	padding: 0;
	color: #484848;
	font-size: 14px;
	font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
	/* trying not to go blind
	background-color: #555555;
	 * */
}

.lorem-ipsum {
	position: relative;
	width: 100%;
	height: 4000px;
}
